/tests export-ignore
/.coveralls.yml export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.gush.yml export-ignore
/.travis.yml export-ignore
/CHANGES.txt export-ignore
/phpunit.xml.dist export-ignore